*{
	margin: 0px;
	padding: 0px;
}

.main{
	width: 700px;
	margin: auto;
	border: solid 1px #2e7bcf;
}
.header{
	width: 100%;
	height: 70px;
	background-color: #2e7bcf;
	padding-top: 30px;
	text-align: center;
	color: white;
	font-size: 30px;
}
.html_css{
	padding-left: 10px;
	padding-top: 10px;
}
.html_css ul{
	padding-left: 50px;
}
.html_css ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
}
.html_css ul li a:hover{
	color: red;
}
.html_css hr{
	width: 80%;
}
.html_css span{
	font-size: 30px;
	font-family: tomaho;
	font-weight: bold;
}
.footer{
	height: 70px;
	margin-top: 20px;
	text-align: center;
	padding-top: 30px;
	background-color: #2e7bcf;
	color: white;
}