*{margin: 0;padding: 0;}
ul{list-style: none;}
a{text-decoration:none;font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo, sans-serif;}
a img{border: 0}
body {
    color: #73523f;
    font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
    font-size: 13px;
	background:#fff;
}
div.header{
	width: 100%;
	display: block;
	height: auto;
	border-top: solid 4px #f0831e;
}
div.center{
	min-width: 960px;
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	clear: both;
}
h1{
	font-size: 12px;
    text-align: left;
    color: #66402b;
    width: 100%;
    display: inline-block;
    margin: 10px 0;
}
a.header_logo_left{
	float: left;
	margin-top: 10px;
}
div.header_logo_right{
	float: right;
	margin-top: 10px;
	text-align: right;
}
